<div class="main user-show">
  <div class="container">
    <div class="user">
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <% if @user.id == @current_user.id %>
        <%= link_to "編集", edit_user_path %>
        <%= link_to "退会", user_path(@user), method: :delete, data: { confirm: "本当に削除しますか？?" } %>
        <div class="post_btn">
          <%= link_to "明細を登録", new_post_path, class: "btn" %>
          <%= link_to "カテゴリ一覧", categories_path, class: "btn" %>
          <%= link_to "自分の明細一覧", posts_path, class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
