<h3 class="post_h3">投稿一覧</h3>
<%= render "layouts/search" %>
<h4>(▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？現在の日にち<%= Date.current.strftime("%Y年 %m月 %d日")%>投稿数<%= @posts.count %> 件 </h4>
<h4>(▽◕ ᴥ ◕▽)○柴～。ねえ、知ってる？合計金額¥<%= @posts.map(&:price).sum %> 円 </h4>
<table>
  <thead>
    <tr>
      <th>ブックマーク</th>
      <th>画像</th>
      <th>メモ</th>
      <th>使った日</th>
      <th>価格</th>
      <th>カテゴリー</th>
      <th>編集</th>
      <th>消去</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td id="post_<%= post.id %>">
          <%= render "likes/like", post: post %>
        </td>
        <% if post.image.attached? %>
          <td><%= image_tag post.image, class: "post_image" %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= post.memo %></td>
        <td><%= post.use_day %></td>
        <td><%= post.price %></td>
        <td><%= post.category.name %></td>
        <td><%= link_to "編集", [:edit, post] %></td>
        <td><%= link_to "削除", post, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="post_btn">
  <%= link_to "新規投稿", new_post_path, class: "btn" %>
  <%= link_to "カテゴリー", new_category_path, class: "btn" %>
</div>
